body{
    background: #7f7fd5;
    background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}
#thegame{
    display:none;
}

/*Tic tac toe */
#containerbox {
    background-color: rgba(225, 225, 225, 0.3);
}

.btn-outline-dark {
    color: #212529;
    border-color: #212529;
    height: 15vh;
    width: 15vh;
}


/*Menu*/
.menuchoices{
    height: 15vh;
    width: 55vh;
    border-radius: 50%;
}
